################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/schools-web-api-extra/schools-web-api-extra/appsettings.json
