.dropdown-content {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: var(--search-dropdown-font-size);
  width: var(--content-width);
  height: var(--dropdown-height);
  left: var(--left-side-space);
  padding: 10px 3%;
  z-index: 1;
  background-color: var(--content-bg-color);
  box-shadow: 0px 11px 20px -13px rgb(0, 0, 0);
  border-radius: var(--content-border-radius);
}
.dropdown--invisible {
  opacity: 0;
  transform: translateY(-300%);
  transition: opacity linear 0.2s;
}
.dropdown--visible {
  opacity: 1;
  transform: translateY(80%);
  transition: opacity linear 0.1s;
}

.voivodeship__select {
  display: inline-block;
  height: 30px;
  width: 55%;
  background-color: transparent;
}
.voivodeship__option {
  padding: 8px 10px;
}

.school-type__title {
  text-align: left;
}

.school-type__container,
.voivodeship__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.school-type__item {
  display: flex;
  align-content: center;
  justify-content: center;
}
.school-type__checkbox {
  width: var(--chechbox-size);
  height: var(--chechbox-size);
  margin-right: 3px;
}
.dropdown-content__title {
  font-weight: 600;
  font-size: var(--search-title-font-size);
}
